export const host = 'https://host.com:port';
export const account = "email@host.com";
export const password = "pAsWoRd";
export const repoName = "test";
export const deviceName = "test";
export const deviceId = "3F42459B19187807D3265E5799A9E2F91EFDEC55";
export const initCommitId = "";