# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled dist folder
dist/

# Exclude sourcemaps
*.map

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Exclude test vault
vault/*
!vault/.obsidian/
!vault/.obsidian/plugins/hotreload/


# Exclude test env setup
src/test/env.setup.js