# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled dist folder
dist/

# Exclude sourcemaps
*.map

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Exclude test vault
vault/*

# Exclude test environmental variables
src/test/env.ts

temp
temp*.json

# Exclude scripts temporary files
scripts/*
!scripts/*.py