.node-state {
    -webkit-app-region: no-drag;
    /* background-color: var(--background-modifier-border-hover); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--size-2-2) var(--size-2-3);
    cursor: var(--cursor);
    border-radius: var(--clickable-icon-radius);
    color: var(--icon-color);
    opacity: 35%;
    line-height: var(--line-height-normal);
    align-self: center;
    height: 1em;
    /* margin-left: auto; */
}

.node-state svg {
    width: 1em;
}

.node-state-sync {
    color: var(--color-success);
}

.node-state-default-text {
    display: block;
}

.node-state>.node-state-hover-text {
    display: none;
}

.node-state:hover>.node-state-default-text {
    display: none;
}

.node-state:hover>.node-state-hover-text {
    display: block;
}

.sync-status {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0 8px 5px 0;
}

.sync-status-icon {
    display: flex;
    padding: 5px;
    cursor: pointer;
}

.sync-status-text {
    vertical-align: middle;
    overflow-wrap: anywhere;
    overflow: hidden;
    white-space: var(--nav-item-white-space);
    text-overflow: ellipsis;
    font-size: var(--vault-name-font-size);
    color: var(--vault-name-color);
    font-weight: var(--vault-name-font-weight);
}